* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.trello-content-window {
    background-image: url(../trello/pictures/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 656px;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(211, 35, 35);
}

.wrapper__title {
    margin-left: 20px;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
}

.container__board {
    display: flex;
    min-width: 400px;
    height: 100%;
    margin-top: 10px;
}



.button-add-column {
    min-height: 40px;
    background-color: rgb(150, 150, 150);
    opacity: 0.4; 
}

.column-content {
    max-height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 14px;
    background-color: rgb(226, 225, 225);
    align-items: center;
    justify-content: center;
}
.column-display-none {
    display: none
}

.column-margin-left {
    margin-left: 100px;
}
.column-margin-right {
    margin-right: 100px;
}
.button-add-column:hover {
    background-color: rgb(180, 180, 180);
}

.title-input {
    width: 200px;
    height: 30px;
    margin-top: 4px;
    border: 1px solid black;
}


.column__title-controls {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    margin-top: 4px;
}

.button-add-column__title {
    width: 100px;
    height: 24px;
    margin-right: 6px;
    background-color: rgb(73, 73, 226);
    cursor: pointer;
    color: white;
}
.button-add-column__title:hover {
    background-color: rgb(0, 0, 255);
}

.column-close-button {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(226, 225, 225);
    opacity: 0.5;
}
.column-close-button:hover {
    opacity: 0.9;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-title-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    min-height: 20px;
    margin-top: 8px;
}

.column-title-text-area {
    resize: none;
}

.column-title {
    background-color: rgb(226, 225, 225);
    font-size: 14px;
    width: 180px;
    font-weight: bold;
    font-style: oblique;
}

.column-title:hover {
    background-color: rgb(226, 225, 225);
}

.column-delete-button {
    background-image: url(../trello/pictures/delete-clmn-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    cursor: pointer;
}

.column-delete-button:hover {
    background-color: rgb(192, 191, 191);
}

.column__task-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    min-height: 10px;
    margin-top: 10px;
    background-color: #c330d6;
}
.task-content__textarea {
    max-width: 210px;
    min-width: 210px;
    min-height: 40px;
    max-height: 70px;
}
.task-content-title {
    display: flex;
    margin: 8px;
    flex-direction: column;
    width: 200px;
    /* margin-top: 12px; */
    background-color: white;
}
.task-content-title-display-none {
    display: none;
}
.task-content-title:hover {
    background-color: rgb(196, 196, 196);
}
.task-title {
    display: flex;
    flex-direction: row;
    width: 200px;
    min-height: 20px;
    margin-top: 4px;
}

.button-add-task {
    width: 100px;
    height: 20px;
    margin-top: 20px;
    background-color: rgb(226, 225, 225);
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.button-add-task:hover {
    background-color: rgb(158, 158, 158);
}
.title {
    width: 170px;
    min-height: 100%;
    cursor: pointer;
}

.delete-task-button {
    background-image: url(../trello/pictures/delete-task-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.delete-task-button:hover {
    background-color: rgb(167, 167, 167);
}

.task-description-content-logo {
    background-image: url(../trello/pictures/taskDscrp-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 16px;
    height: 16px;
}
.task-description-content-logo_display-block {
    display: block;
}
.task-content__overlay-window {
    display: none;
}
.task-content__overlay-window_display-block {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 11;
}
.task-content__modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background-color: #e7e6e6;
    border-radius: 5px;
    z-index: 11;
}

.column-title-info {
    margin: 10px;
    font-style: italic;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    width: 800px;
    height: 40px;
}

.modal-title {
    width: 700px;
    min-height: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-task-title-text-area {
    width: 700px;
    min-height: 20px;
    /* margin-left: 6px; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e6e6;
    border: 1px solid black;
    resize: none;
}

.modal-close-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;    
    cursor: pointer;
    background-color: #e7e6e6;
    font-size: 16px;
    margin-right: 20px;
}
.modal-close-button:hover {
    background-color: #df1414;
}

.modal-description-content {
    margin-top: 50px;
}
.modal-description-text-area {
    margin-top: 20px;
    width: 700px;
    height: 50px;
}

.modal-description-text-area-content {
    margin-left: 10px;
    
}
.modal-description {
    width: 700px;
    min-height: 20px;;
    background-color: white;
    margin: 20px;
}
.button-add-description {
    width: 100px;
    height: 24px;
    margin-right: 6px;
    background-color: rgb(48, 48, 224);
    cursor: pointer;
}
.modal-description-close-button {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.5;
    background-color: #e7e6e6;
}
.modal-description-close-button:hover {
    opacity: 0.9;
}
.hide {
    visibility: hidden;
}

 