@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif !important    ;
}

::-webkit-scrollbar {
    width: 20px;
    height: 18px;
    border: 3px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 5px solid transparent;
    background-clip: padding-box;
    background-color: #00000056;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    overflow: overlay;  
    scroll-behavior: smooth;
}

html,body {
    min-width: fit-content;
    height: 100%;
}

.trello-content-window {
    background-image: url(../trello/pictures/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: fit-content;
    min-height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    background-color: rgb(69, 91, 92, 0.35);
}

.wrapper__title {
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
.wrapper__logo {
    height: 22px;
    width: 100px;
    cursor: pointer;
    padding-left: 16px;
}
.wrapper__logo:hover::before {
    display: block;
} 
.wrapper__logo:hover::after {
    display: none;
} 
.wrapper__logo::before {
    content: '';
    background-image: url(./pictures/moving-logo.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    position: absolute;
    top: 0;
    width: 100px;
    height: 50px;
}
.wrapper__logo::after {
    content: '';
    background-image: url(./pictures/logo.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 50px;
}

.container {
    display: flex;
}

.container__board {
    display: flex;
    height: 100%;
    margin-top: 10px;
}

.button-add-column {
    min-height: 40px;
    opacity: 0.7;
}

.column-content {
    max-height: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(223, 216, 216);
    align-items: center;
    justify-content: center;
}
.column-display-none {
    display: none
}

.column-margin-left {
    margin-left: 100px;
}
.column-margin-right {
    margin-right: 100px;
}
.button-add-column:hover {
    background-color: rgb(180, 180, 180);
}

.title-input {
    width: 200px;
    height: 30px;
    margin-top: 4px;
    border: 1px solid black;
}

.column__title-controls {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    margin-top: 4px;
}

.button-add-title {
    width: 100px;
    height: 24px;
    margin-right: 6px;
    background-color: rgb(73, 73, 226);
    cursor: pointer;
    color: white;
}
.button-add-title:hover {
    background-color: rgb(0, 0, 255);
}

.close-button {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(223, 216, 216);
    opacity: 0.5;
}
.close-button:hover {
    opacity: 0.9;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-title-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    min-height: 20px;
    margin-top: 8px;
}

.column-title-text-area {
    resize: none;
}

.column-title {
    background-color: rgb(223, 216, 216);
    font-size: 14px;
    width: 180px;
    font-weight: bold;
    font-style: oblique;
}

.column-title:hover {
    background-color: rgb(245, 245, 245);
}

.column-delete-button {
    background-image: url(../trello/pictures/delete-clmn-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(223, 216, 216);
    width: 16px;
    height: 16px;
    margin-right: 4px;
    cursor: pointer;
}

.column-delete-button:hover {
    background-color: rgb(192, 191, 191);
}

.column__task-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    min-height: 10px;
    margin-top: 10px;
}
.task-content__textarea {
    margin-top: 6px;
    max-width: 210px;
    min-width: 210px;
    min-height: 40px;
    max-height: 70px;
}
.task-content-title {
    display: flex;
    margin: 8px;
    flex-direction: column;
    border-radius: 6px;
    background-color: white;
}
.task-content-title-display-none {
    display: none;
}
.task-content-title:hover {
    background-color: rgb(196, 196, 196);
}
.task-title {
    display: flex;
    flex-direction: row;
    width: 200px;
    min-height: 20px;
    margin-top: 4px;
    overflow-wrap: break-word;
}

.button-add-task {
    width: 100px;
    height: 20px;
    margin-top: 20px;
    background-color: rgb(223, 216, 216);
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.button-add-task:hover {
    background-color: rgb(190, 190, 190);
}
.title {
    width: 170px;
    min-height: 100%;
    cursor: pointer;
}

.delete-task-button {
    background-image: url(../trello/pictures/delete-task-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.delete-task-button:hover {
    background-color: rgb(182, 182, 182);
}

.task-description-content-logo {
    background-image: url(../trello/pictures/taskDscrp-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 16px;
    height: 16px;
}
.task-description-content-logo_display-block {
    display: block;
}
.task-content__overlay-window {
    display: none;
}
.task-content__overlay-window_display-block {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 11;
}
.task-content__modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background-color: #29648a;
    border-radius: 5px;
    z-index: 11;
}

.column-title-info {
    margin: 10px;
    font-style: italic;
    color: white;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    width: 770px;
    min-height: 40px;
    padding: 6px;
    background-color: #29648a;
}
.modal-title {
    width: 700px;
    min-height: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
    
}

.modal-task-title-text-area {
    width: 700px;
    min-height: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border: 1px solid black;
    resize: none;
}

.modal-close-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;    
    cursor: pointer;
    background-color: #29648a;
    font-size: 16px;
}
.modal-close-button:hover {
    background-color: #df1414;
}

.modal-description-content {
    margin-top: 50px;
    color: rgb(0, 0, 0);
}
.modal-description-text-area {
    margin-top: 20px;
    max-width: 700px;
    min-width: 700px;
    max-height: 100px;
    min-height: 100px;
}

.modal-description-text-area-content {
    margin-left: 10px;
    
}
.modal-description {
    width: 700px;
    min-height: 20px;;
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 20px;
}
.description-title {
    display: flex;
    width: 100px;
    height: 20px;
    color: white;
}
.description-title::before {
    content: '';
    background-image: url(../trello/pictures/taskDscrp-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    /* display: none; */
    width: 20px;
    height: 20px;
}
.button-add-description {
    width: 100px;
    height: 24px;
    margin-right: 6px;
    background-color: rgb(52, 52, 221);
    cursor: pointer;
}
.button-add-description:hover {
    background-color: rgb(34, 34, 228);
}
.modal-description-close-button {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
    background-color: #29648a;
}
.modal-description-close-button:hover {
    opacity: 0.9;
}
.hide {
    visibility: hidden;
}

 